.form {
  top: 0px;
  margin-left: 30%;
  width: 375px;
  height: 600px;
  background: #f7f8f9 0% 0% no-repeat padding-box;
  opacity: 1;
  .heading {
    font: normal normal medium 16px/17px Rubik;
    padding-top: 20rem;
    padding-left: 20px;
    margin-bottom: 1rem;
  }
  .lorem {
    top: 592px;
    margin-left: 20px;
    width: 232px;
    height: 48px;
    text-align: left;
    letter-spacing: 0px;
    color: #1d2226;
    opacity: 0.6;
    margin-bottom: 1rem;
    
}
  .button1 {
    text-align: center;
    font: normal normal medium 16px/17px Rubik;
    letter-spacing: 0px;
    background-color: #6c25ff;
    margin-left: 20px;
    width: 85%;
    color: white;
    height: 46px;
    border-radius: 4px;
    margin-bottom: 1rem;
    font-size: 16px;
    border: 0px;
    >a{
      text-decoration: none !important;
    }
   
}
  .button2 {
    text-align: center;
    font: normal normal medium 16px/17px Rubik;
    letter-spacing: 0px;
    background-color: #6c25ff4b;
    margin-left: 20px;
    width: 85%;
    height: 46px;
    color: black;
    border-radius: 4px;
    margin-bottom: 1rem;
    font-size: 16px;
    border: 0px;
    
    >a{
      text-decoration: none !important;
    }
  }
  
}
